* {
    font-family: monospace;
}

body {
    background-color: white;
}

section {
    border: thin black solid;
    position: absolute;
    background-color: #fafad2;
    padding: 1%;
    box-shadow: 5px 5px 20px black;
}

li {
    list-style-type: none;
}

li:before {
    content: '- ';
}

a {
    text-decoration: none;
}

em {
    text-transform: uppercase;
    font-style: italic;
    font-size: 3em;
}

.terminal {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    background-color: black;
    font-family: monospace;
    font-weight: bold;
    color: #adff2f;
    position: absolute; /* todo bl lay out dynamically */
    border: 5px solid tan;
    border-radius: 5px;
    outline: none;
    box-shadow: 5px 5px 20px black;
}