* {
    font-family: monospace;
}

section {
    background-color: #fafad2;
    padding: 1%;
    box-shadow: 5px 5px 20px black;
}

li {
    list-style-type: none;
}

li:before {
    content: '- ';
}

a {
    text-decoration: none;
}

em {
    /*outline: thin dotted gray;*/
    padding-right: 5%;
    text-transform: uppercase;
    text-align: start;
    font-style: italic;
    font-size: 3em;
    clear: both;
    float: left;
}

#repl {
    background-color: black;
    font-family: monospace;
    font-weight: bold;
    color: #adff2f;
    opacity: 0.90;
    border: 5px solid #fafad2;
    border-radius: 5px;
    outline: none;
    box-shadow: 5px 5px 20px black;
}