

body {
    font-family: 'Hoefler Text', serif;
    font-size: 20px;
    line-height: 30px;
    /*font-size: 1.1em;*/
}

h1, h2 {
    line-height: 60px;
    margin-left: 0;
}

a {
    text-decoration: none;
    color: #08c;
}

a:hover {
    text-decoration: underline;
}

code, pre {
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    font-family: monospace;
}

.meta {
    font-family: 'Hoefler Text', serif;
    font-weight: normal;
    padding: 1px 4px 2px;
    line-height: 13px;
    color: white;
    background-color: #3a87ad;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}

.ex em, .ex dd em {
    font-family: 'Hoefler Text', serif;
    color: black;
}

.ex dd {
    text-align: right;
}

.error {
    font-family: 'Hoefler Text', serif;
    padding: 1px 4px 2px;
    line-height: 13px;
    color: white;
    background-color: #b94a48;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}

.nobullet {
    list-style: none;
}

.entry h1 {
    color: #d14;
    background-color: #f7f7f9;
    font-family: monospace;
    display: inline;
    font-size: 20px;
}

.entry h2 {
    display: inline;
    font-family: 'Hoefler Text', serif;
    padding: 1px 4px 2px;
    line-height: 13px;
    color: white;
    background-color: #999;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 20px;
}

.oneline li, .oneline dt {
    display: inline;
}

.editors, .contributors, .note, time, .dedication  {
    /* temporary don't display */
    display: none;
}

.ex {
    color: #d14;
    background-color: #f7f7f9;
    font-family: monospace;
}

.ex dt {
    white-space: pre;
    font-weight: normal;
}

.ex dd:before {
    content: ' ⇒ ';
}