[submodule "mockterm"]
	path = mockterm
	url = https://github.com/Ubehebe/term.js.git
[submodule "closure-library"]
	path = closure-library
	url = https://github.com/google/closure-library
[submodule "src/js/tdd"]
	path = src/js/tdd
	url = https://github.com/Ubehebe/closure-tdd
[submodule "externs"]
	path = externs
	url = https://github.com/dcodeIO/node.js-closure-compiler-externs
[submodule "jq-console"]
	path = jq-console
	url = https://github.com/replit/jq-console.git
