[submodule "mockterm"]
	path = mockterm
	url = https://github.com/Ubehebe/term.js.git
[submodule "closure-compiler"]
	path = closure-compiler
	url = https://code.google.com/p/closure-compiler/
[submodule "closure-library"]
	path = closure-library
	url = https://code.google.com/p/closure-library/
[submodule "src/js/tdd"]
	path = src/js/tdd
	url = https://github.com/Ubehebe/closure-tdd

