.terminal {
    font-family: monospace;
    background-color: black;
    color: #adff2f;
    width: 100%;
}

.echo {
    background-color: #add8e6;
}

.output {
    background-color: #fafad2;
    text-align: right;
}

